<ol class="messanger-list">
  <li class="message is-time">Today</li>

  <li class="message is-you">
    <p class="message-content">
      This is my CSS/HTML Reverse Engineering for WhatsApp
    </p>
    <div class="status">
      <time datetime="">2:11 PM</time>
      <span class="icon-seen">✔️✔️</span>
    </div>
  </li>

  <li class="message is-you">
    <p class="message-content">
      What do you think, did I nail it?
    </p>
    <div class="status">
      <time datetime>2:12 PM</time>
      <span class="icon-seen">✔️✔️</span>
    </div>
  </li>

  <li class="message is-other">
    <p class="message-content">
      Hmm, pretty close, hard to tell the difference 👍
    </p>
    <div class="status">
      <time datetime>2:12 PM</time>
    </div>
  </li>

  <li class="message is-you">
    <p class="message-content">
      Thanks 😁
    </p>
    <div class="status">
      <time datetime>2:12 PM</time>
      <span class="icon-seen">✔️✔️</span>
    </div>
  </li>

  <li class="message is-other">
    <p class="message-content">
      Why did you do this?
    </p>
    <div class="status">
      <time datetime>2:13 PM</time>
    </div>
  </li>

  <li class="message is-you">
    <p class="message-content">
      Well I came across a tutorial of guy who tried it, and figured I would try
      it myself.<br /><br />
      It's challenging and rewarding at the same time, especially when you
      succeed. 😄
    </p>
    <div class="status">
      <time datetime>2:33 PM</time>
      <span class="icon-seen">✔️✔️</span>
    </div>
  </li>

  <li class="message is-other">
    <p class="message-content">Cool 😅</p>
    <div class="status">
      <time datetime>2:34 PM</time>
    </div>
  </li>

  <li class="message is-other">
    <p class="message-content">Hmm...🤔</p>
    <div class="status">
      <time datetime>2:35 PM</time>
    </div>
  </li>

  <li class="message is-other">
    <p class="message-content">Might also give it a try</p>
    <div class="status">
      <time datetime>2:35 PM</time>
    </div>
  </li>

  <li class="message is-you">
    <p class="message-content">
      Sure, let me know if you need any help
    </p>
    <div class="status">
      <time datetime>2:42 PM</time>
      <span class="icon-sent-unread">✔️✔️</span>
    </div>
  </li>

  <li class="message is-you">
    <p class="message-content">
      have fun 😀
    </p>
    <div class="status">
      <time datetime>2:43 PM</time>
      <span class="icon-pending">✔️</span>
    </div>
  </li>
</ol>
