/* animation */
@keyframes clickableAnimation {
  0% {
    transform: scale(1);
  }

  95% {
    transform: scale(1);
  }

  96% {
    transform: scale(1.5) rotate(-30deg);
  }

  97% {
    transform: scale(1.5) rotate(30deg);
  }

  100% {
    transform: scale(1);
  }
}

.u-animation-click {
  animation: clickableAnimation 20s ease-in-out -17s infinite;
}
