html {
  min-height: 100vh;

  background: linear-gradient(
    to bottom,
    var(--dark-green) 0%,
    var(--dark-green) 8rem,
    #dddbd1 8rem,
    #d2dbdc 100%
  );
  background-repeat: no-repeat;
}
