.main-grid {
  --private-block-margins: 0; /* private variables are for local component use */
  position: fixed;
  top: var(--private-block-margins);
  bottom: var(--private-block-margins);

  overflow: hidden;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  #{$start-direction}: 0;
  #{$end-direction}: 0;

  > * {
    max-height: 100vh;

    @media #{$desktopUp} {
      max-height: calc(100vh - 2rem);
    }
  }

  @media #{$tabletUp} {
    display: grid;
    grid-template-areas: 'side main info';
    grid-template-columns: minmax(16rem, 30%) 1fr auto;
  }

  @media #{$desktopUp} {
    --private-block-margins: 1rem;
    width: 86rem;
    margin: 0 auto;
  }

  /*logic styles*/
  &.is-main-info-open {
    @media #{$phone} {
      .main-side,
      .main-content {
        display: none;
      }

      .main-info {
        width: 100%;
        height: 100%;
      }
    }

    @media #{$tablet} {
      grid-template-areas: 'side info';
      grid-template-columns: minmax(16rem, 30%) 1fr;

      .main-content {
        display: none;
      }

      .main-info {
        width: auto;
      }
    }
  }

  &.is-message-open {
    @media #{$phone} {
      .main-content {
        transform: translateX(-100%);
      }
    }
  }
}

.main-side {
  grid-area: side;
}
.main-content {
  grid-area: main;
}
.main-info {
  grid-area: info;
}
