@mixin trim {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin margin-vert($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin margin-horiz($left, $right: $left) {
  margin-right: $right;
  margin-left: $left;
}

@mixin padding-vert($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin padding-horiz($left, $right: $left) {
  padding-right: $right;
  padding-left: $left;
}

@mixin scroll {
  overflow-y: auto;
  scrollbar-width: thin;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: $top,
  $left: $right
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;

    content: '';
  }
  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
