<button class="common-header__start">
  <img
    src="{{ activeChat.image }}"
    alt="{{ activeChat.name }}"
    class="common-header__image"
  />

  <div class="common-header__content">
    <p class="title">
      {{ activeChat.name }}
    </p>
    <p class="status">Online</p>
  </div>
</button>

<nav class="common-header__nav">
  <button class="common-button icon">🔍</button>
  <button class="common-button icon">📎</button>
  <button class="common-button icon icon-menu" aria-label="menu"></button>
</nav>
