@import 'abstracts/mixins';

:host {
  border-left: solid 1px var(--highlight);
}

.common-header__start,
.common-header__content {
  overflow: hidden;
}

.icon-back {
  margin-right: var(--space-xxs);

  outline: none;
}

.title {
  @include trim;

  font-size: 1rem;
}

.status {
  @include trim;

  margin-top: 0.5ch;
}
