<section class="main-grid">
  <aside class="main-side">
    <header class="common-header">
      <div class="common-header-start">
        <button class="u-flex js-user-nav">
          <img
            class="profile-image"
            src="https://bit.ly/39DfTEi"
            alt="Andrei Voicu"
          />
          <div class="common-header-content">
            <h1 class="common-header-title">Andrei Voicu</h1>
          </div>
        </button>
      </div>
      <nav class="common-nav">
        <ul class="common-nav-list">
          <li class="common-nav-item">
            <button class="common-button">
              <span class="icon">🕘</span>
            </button>
          </li>
          <li class="common-nav-item">
            <button class="common-button">
              <span class="icon icon-status">💬</span>
            </button>
          </li>
          <li class="common-nav-item">
            <button class="common-button">
              <span class="icon icon-menu" aria-label="menu"></span>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <section class="common-alerts">
      <!-- optional alert message -->
    </section>

    <section class="common-search">
      <input
        type="search"
        class="text-input"
        placeholder="Search or start new chat"
      />
    </section>

    <section class="chats">
      <ul class="chats-list">
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/37SNAl8"
              alt="Elad Shechter"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">CSS Masters Israel</h3>
              <time class="chats-item-time">12:30</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">
                Beside it yo can follow my twitter account: @eladsc
              </p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/37RrfUp"
              alt="Rachel Bratt Tannenbaum"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Rachel Bratt Tannenbaumi</h3>
              <time class="chats-item-time">12:05</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">When is our next meetup?</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages">1</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/3c1CvRe"
              alt="Yanai Edri"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Yanai Edri</h3>
              <time class="chats-item-time">12:05</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">See you at Yerucham!</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2w0kAKb"
              alt="Rotem Lurx Horovitz"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Rotem Lurx Horovitz</h3>
              <time class="chats-item-time">11:57</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Let's create a juniors meetup</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages">3</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2HMqGR7"
              alt="Yehuda Avrashi"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Yehuda Avrashi</h3>
              <time class="chats-item-time">11:48</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">It was a great plesure for me</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages">1</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2vVhJCm"
              alt="Itai Segal"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Itai Segal</h3>
              <time class="chats-item-time">Yesterday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">The is very nice!</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/32icaKh"
              alt="Ronen Mars Bahteev"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Ronen Mars Bahteev</h3>
              <time class="chats-item-time">Yesterday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Let's do a meetup at Bigpanda</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2umsgpV"
              alt="Alon Gruss"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Alon Gruss</h3>
              <time class="chats-item-time">Yesterday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Great!</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/37UWsGt"
              alt="Kalo Avi"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Kalo Avi</h3>
              <time class="chats-item-time">Yesterday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">I have an idea for you</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/32jKK76"
              alt="Bambi Haber"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Bambi Haber</h3>
              <time class="chats-item-time">Sunday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">This is awesome!</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/39Wo5jw"
              alt="Alexey Karash"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Alexey Karash</h3>
              <time class="chats-item-time">Sunday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Whats up?</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2VdDdVR"
              alt="Ofer Shelly"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Ofer Shelly</h3>
              <time class="chats-item-time">Saturday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">It was a great talk</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/2T8eD5U"
              alt="Moshe Harush"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Moshe Harush</h3>
              <time class="chats-item-time">Friday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Open for freelance?</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="chats-item">
          <div
            class="chats-item-button js-chat-button"
            role="button"
            tabindex="0"
          >
            <img
              class="profile-image"
              src="http://bit.ly/38TS3EI"
              alt="Guy Sarkinsky"
            />
            <header class="chats-item-header">
              <h3 class="chats-item-title">Guy Sarkinsky</h3>
              <time class="chats-item-time">Friday</time>
            </header>
            <div class="chats-item-content">
              <p class="chats-item-last">Thanks a lot!</p>
              <ul class="chats-item-info">
                <li class="chats-item-info-item u-hide">
                  <span class="icon-silent">🔇</span>
                </li>
                <li class="chats-item-info-item">
                  <span class="unread-messsages"></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </aside>
  <main class="main-content"></main>
  <aside class="main-info u-hide"></aside>
</section>
