@import 'abstracts/variables';
@import 'abstracts/mixins';

/* elements */
.profile-image {
  display: block;
  flex-shrink: 0;
  height: 40px;
  border-radius: 50%;
}
.big-title {
  margin: 5px 0;

  font-size: 19rem;
}
.section-title {
  margin-bottom: 10px;

  color: var(--dark-green);
  font-size: 14rem;
}
.info-text {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14rem;
}
.status {
  letter-spacing: -14px;

  filter: grayscale(1);
  &.is-seen {
    filter: grayscale(0);
  }
}
.text-input {
  margin: 5px 10px;
  padding: 10px;
  border-width: 0;
  border-radius: 20px;

  background-color: var(--white);

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
}
.common-search {
  position: relative;

  display: flex;
  flex-shrink: 0;

  background: var(--light-gray);

  transition: 0.2s;
  &::before {
    position: absolute;
    top: 15px;

    filter: grayscale(1) opacity(0.5);

    content: '🔎';
    #{$start-direction}: 30px;
  }
  &:focus-within {
    background-color: var(--white);
  }
  .text-input {
    flex: 1;
    margin: 8px 16px;
    padding-#{$start-direction}: 50px;
  }
}
.unread-messsages {
  display: block;
  min-width: 20px;
  margin: 0 5px;
  padding: 3px;
  border-radius: 12px;

  color: var(--white);
  font-weight: bold;
  font-size: 12rem;
  text-align: center;

  background-color: #3cdf7a;
  &:empty {
    display: none;
  }
}
.common-button {
  padding: 8px;
  &:hover,
  &:focus {
    outline: none;
    .icon {
      filter: grayscale(1) opacity(1);
    }
  }
  .icon {
    display: block;
    width: 24px;
    height: 24px;

    font-size: 18px;
    text-align: center;
    vertical-align: middle;

    filter: grayscale(1) opacity(0.5);

    transition: 0.2s;
  }
}
.twitter {
  display: block;

  color: rgba(29, 161, 242, 1);
  &-label {
    margin-#{$end-direction}: 10px;
  }
  &-user {
    font-size: 20px;
  }
}

/*** components ***/
.common-header {
  --common-header-border-color: #e0e0e0;
  display: flex;
  flex-shrink: 0;
  height: 60px;
  padding: 10px 16px;

  background-color: var(--main-gray);

  &-title {
    @include trim();
  }

  &-start {
    display: flex;
    margin-#{$end-direction}: auto;
  }

  &-content {
    @include trim();
    margin: auto 15px;

    line-height: 1.5;
  }
}

.common-nav {
  &-list {
    display: flex;
  }
  &-item {
    margin-#{$start-direction}: 10px;
  }
}

/*side (users)*/
.main-side {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
}
.chats {
  @include scroll();
  background-color: var(--white);
  &-item {
    /* layout grid */
    &-button {
      display: grid;
      grid-column-gap: 15px;
      grid-template-areas:
        'image header'
        'image content';
      grid-template-columns: 50px 1fr;
      padding: 0 15px;

      cursor: pointer;
      &:focus {
        background-color: #ebebeb;
        outline: none;
      }
    }
    .profile-image {
      grid-area: image;
    }
    &-header {
      grid-area: header;
    }
    &-content {
      grid-area: content;
    }
    /*** end grid ***/
    .profile-image {
      flex-shrink: 0;
      height: 50px;
      margin: auto;
    }
    &-header {
      @include trim;
      display: flex;
      padding-top: 10px;
    }
    &-title {
      @include trim;
      flex: 1;

      font-weight: bold;
      margin-#{$end-direction}: 10px;
    }
    &-time {
      font-size: 12rem;

      opacity: 0.6;
    }
    &-last {
      display: -webkit-box;
      flex: 1;
      overflow: hidden;

      opacity: 0.6;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &-content {
      display: flex;
      padding-bottom: 10px;
      border-bottom: solid 1px #f2f2f2;
    }
    &-info {
      display: flex;
    }
    /*overrides last item*/
    &:last-child {
      .chats-item-content {
        border-bottom-width: 0;
      }
    }
  }
}
