<ul>
  <li
    (click)="coordinatorService.toggleMessage(true)"
    class="chat"
    [class.chat-unread]="chat.status?.unreadCount"
    role="button"
    tabindex="0"
    *ngFor="let chat of chats"
  >
    <img src="{{ chat.image }}" alt="{{ chat.name }}" class="chat-image" />

    <header class="header">
      <p class="header-text">{{ chat.name }}</p>
      <time class="header-time">{{ chat.last.time }}</time>
    </header>

    <div class="content">
      <p class="content-last">
        <ng-container [ngSwitch]="chat.last?.readStatus">
          <span *ngSwitchCase="'seen'" class="icon-seen">✔️✔️</span>
          <span *ngSwitchCase="'sent'" class="icon-sent">✔️</span>
          <span *ngSwitchCase="'pending'" class="icon-pending">⏱️</span>
        </ng-container>
        {{ chat.last.message }}
      </p>

      <ul *ngIf="chat.status" class="content-info">
        <li *ngIf="chat.status?.muted" class="icon-silent">🔇</li>
        <li *ngIf="chat.status?.pined" class="icon-pin">📌</li>
        <li *ngIf="chat.status?.unreadCount" class="unread">
          {{ chat.status.unreadCount }}
        </li>
      </ul>
    </div>
  </li>
</ul>
