@import 'abstracts/mixins';

$fade: 0.6;

:host {
  overflow-y: auto;
}

.chat {
  @include padding-horiz(13px, 0.5rem);

  display: grid;
  grid-template-areas:
    'image header'
    'image content';
  grid-template-columns: 3rem 1fr;

  gap: var(--space-xxs) var(--space-xs);
  height: 4rem;

  cursor: pointer;

  &-image {
    @include margin-vert(auto);

    grid-area: image;
    border-radius: 50%;
  }

  &-unread {
    font-weight: bold;
  }

  &:focus {
    background-color: var(--main-gray);
    outline: none;
  }

  &:hover:not(:focus) {
    background-color: var(--light-gray);
  }
}

.header {
  display: flex;
  grid-area: header;
  align-items: flex-end;

  overflow: hidden;

  &-text {
    @include trim;

    flex: 1;

    font-weight: inherit;
  }

  &-time {
    flex-shrink: 0;
    margin-left: 1ch;

    font-size: 12px;

    opacity: $fade;
  }
}

.content {
  display: flex;
  grid-area: content;
  border-bottom: 1px solid var(--main-gray);
  overflow: hidden;

  &-last {
    @include trim;

    flex: 1;

    font-weight: inherit;

    font-size: 14px;

    opacity: $fade;
  }

  &-info {
    display: flex;
    flex-shrink: 0;
    margin-left: 0.5ch;
  }
}

.unread {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 3px;
  border-radius: 11px;

  color: var(--white);
  font-weight: bold;
  font-size: 12px;
  text-align: center;

  background-color: var(--light-green);
}
