<ul class="chat-list">
  <li class="chat" role="button">
    <img src="assets/img/user1.jpg" alt="Random" class="chat-image" />

    <header class="header">
      <p class="header-text">Header Header Header</p>
      <time class="header-time">10:00 AM</time>
    </header>

    <div class="content">
      <p class="content-last">I like the quarantine!</p>
      <ul class="content-info">
        <li class="icon-silent">🔇</li>
        <li class="icon-pin">📌</li>
        <li class="unread">3</li>
      </ul>
    </div>
  </li>
</ul>
