*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;

  font-weight: normal;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;

  color: inherit;
  text-align: inherit;

  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
